@model GestionLigasDeportivas.Models.Equipo

@{
    ViewData["Title"] = "Eliminar equipo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar equipo</h1>

<h3>¿Estas seguro de borrar el equipo?</h3>
<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Liga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Liga.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EquipoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
